<!doctype html>
<html lang="en" ng-app="mnemonicApp">
<head>
  <meta charset="utf-8">
  <title>Mnemonic</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app/css/app.css">
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>

  <script src="/bower_components/socket.io/socket.io-1.2.0.js"></script>
  <script>
    var socket = io(); //forma de accesar funciones de nodejs, se acceden por listeners
  </script>

  <script src="app/js/app.js"></script>
  <script src="app/js/controllers.js"></script>

</head>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Html code to add a share buton of Facebook
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- easy code to add the button, just copy paste and change URL for a page definition
  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
       End of Facebook Html share button code-->

<div class="row">
 <div class="col-md-1"></div>
 <div class="col-md-10">
   <nav class="navbar navbar-default">
     <div class="container-fluid" ng-controller="loginCtrl">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
       <img src="app/img/banner2.png" class="img-responsive" style="display:inline" alt="Bird" width="350" height="350">

       <div ng-hide="isLogged"> 
         <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li><a href="#/newLogin">Registrarse<span class="sr-only">(current)</span></a></li>
             <li><a href="#/login">Login<span class="sr-only">(current)</span></a></li>
           </ul>
         </div>
       </div>
       <div ng-show="isLogged">
         <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li><a href="#/offerts" ng-click="logout()">Logout<span class="sr-only">(current)</span></a></li>
           </ul>
         </div>
       </div>

       <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li><a href="#/offerts">Ofertas<span class="sr-only">(current)</span></a></li>
            <li><a href="#/books">Libros<span class="sr-only">(current)</span></a></li>
            <li><a href="#/music">Musica<span class="sr-only">(current)</span></a></li>
            <li><a href="#/comics">Comics<span class="sr-only">(current)</span></a></li>
           <li><a href="#/severalArticles">Articulos Varios<span class="sr-only">(current)</span></a></li>
           <li><a href="#/movies">Peliculas<span class="sr-only">(current)</span></a></li>
           <li ng-hide="isAdmin"><a href="#/shoppingCart">Carro de compra<span class="sr-only">(current)</span></a></li>

           <li ng-show="isAdmin"><a href="#/addProduct">Agregar Producto<span class="sr-only">(current)</span></a></li>
           <li ng-if="isLogged && !isAdmin"><a href="#/resenas">Agregar reseñas<span class="sr-only">(current)</span></a></li>
           <li ng-show="isAdmin"><a href="#/specifyDiscount">Cambiar Descuento<span class="sr-only">(current)</span></a></li>
         </ul>
       </div>
       <!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav>

   <body ng-controller="OffertsListCtrl">
     <div class="view-container">
       <div ng-view class="view-frame"></div>
     </div>
   </body>
  </html>
