<h1>Agregar Producto</h1>
<div class="row">
  <div class="col-md-8">
    <p>
        Nombre:
        <input type="text"  ng-show="isAdmin" name="name" ng-model="product.nombre">
    </p>
    <p>
        Descripcion:
        <input type="text"  ng-show="isAdmin" name="name" ng-model="product.descripcion">
    </p>
    <p>
        Categoria:
        <select name="singleSelect" ng-model="product.categoria">
          <option value="Libros">Libros</option>
          <option value="Musica">Musica</option>
          <option value="Comics">Comics</option>
          <option value="Articulos Varios">Articulos Varios</option>
          <option value="Peliculas">Peliculas</option>
        </select>

    </p>
    <p>
        Subcategoria:
        <input type="text"  ng-show="isAdmin" name="name" ng-model="product.subcategoria">
    </p>
    <p>
      Precio Normal:
      <input type="text"  ng-show="isAdmin" name="name" ng-model="product.precio">
    </p>
    <p>
      Precio Descuento:
      <input type="text"  ng-show="isAdmin" name="name" ng-model="product.precioOferta">
    </p>
    </div>
     <div class="col-md-1"></div>
    </div>
      <form id="uploadForm"
         enctype   =  "multipart/form-data"
         action    =  "/"
         method    =  "post"
      >
      <input type="file" name="userPhoto" />
      <input type="submit" value="Subir nueva imagen" name="submit">
      </form>
      <button type="button" ng-show="isAdmin" class="btn btn-default btn-lg" name="button" ng-click="addProduct()">Agregar</button>
  </div>
</div>
<p></p>
