<h1>Ofertas</h1>
<div ng-repeat="product in products">
  <div class="row">
    <img src={{product.imagen}} href="#/productDetails/{{product.id}}" class="thumb col-md-4"  alt="Bird"></td>
    <div class="col-md-8">
      <h3>{{product.nombre}}</h3>
      <p>
        Precio Normal: {{product.precio}}
      </p>
      <p>
        Precio Descuento: {{product.precioOferta}}
      </p>
      <form method="post" ng-hide="isAdmin" action="https://www.paypal.com/cgi-bin/webscr">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="add" value="1">
        <input type="hidden" name="business" value="joshuamataa@gmail.com">
        <input type="hidden" name="item_name" value="{{product.name}}">
        <input type="hidden" name="item_number" value="123">
        <input type="hidden" name="amount" value="{{product.normalPrice}}">
        <input type="hidden" name="shipping" value="0.00">
        <input type="hidden" name="shipping2" value="0.00">
        <input type="hidden" name="handling" value="2.00 ">
        <input type="hidden" name="currency_code" value="GBP">
        <input type="hidden" name="return" value="http://www.yoursite.co.uk/thankyou.htm">
        <input type="hidden" name="undefined_quantity" value="1">
        <input type="hidden" name="lc" value="GB">
        <input type="image" src="http://www.paypalobjects.com/en_GB/i/btn/x-click-but22.gif" border="0" name="submit" width="87" height="23" alt="Make payments with PayPal - it's fast, free and secure.">
      </form>
      <p>
        <button type="button" ng-show="isAdmin" class="btn btn-default btn-lg" name="button" ng-click="modifyOffert(product.id)">ModificarOferta</button>
        <input type="text"  ng-show="isAdmin" name="name" ng-model="newPrice">
        <input type="text"  ng-show="isAdmin" name="name" ng-model="newPrice">

      </p>
      <button type="button" ng-show="isAdmin" class="btn btn-default btn-lg" name="button" ng-click="delete(product.id)">Eliminar Producto</button>

    </div>
  </div>
  <p></p>
</div>
